# Created by .ignore support plugin (hsz.mobi)
.DS_Store
**/.idea/
.idea
.idea/workspace.xml
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/com/.DS_Store
src/test/.DS_Store
src/test/resources/
target/
/.idea/
.idea/dataSources.local.xml
.idea/dataSources/
.idea/httpRequests/
/.idea/encodings.xml
/.idea/libraries
/.idea/httpRequests/2021-08-21T095445.401.json
