<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<h1>Port Configurer</h1>
<body>
<p>
    <img src="/images/logo.jpg" alt="Spring Boot and Security">
    <br>
    <a href="/jsession_login">Log in </a> with JSession ID, no DB in backend supported. (Run
    with profile JSession)
    <br>
    <br>
    <a href="/jwt_login">Log in </a> with JSON Web Token, with Postgresql DB in backend supported, expiring in 10 minutes
    (Run with profile JWT)
    <br>
    <br>
    <a href="/oauth2_login">Login with GitHub OAuth2</a>, with in memory db and Postgresql DB.
    (Run with profile OAuth2Github)
    <br>
    Also as a demo of Spring Boot, Spring JPA, Spring Security
    <br>
    <br>
    <br>
    <br>
    <a href="/logout">Logout current session</a>
</p>
</body>
</html>