<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<h1>Port Configurer</h1>
<body>
Also as a demo of Spring Boot, Spring JPA, Spring Security
<br>
<p>
    <img src="/images/logo.jpg" alt="Spring Boot and Security">
    <br>
    <a href="/jsession_login">Login </a> with JSession ID
<p>Description: H2 DB or no DB in backend supported. Able to set port. (Run
    with profile JSessionH2 or JSession)
</p>
<br>
<br>
<a href="/jwt_login">Login </a> with JSON Web Token
<p>Description: with Postgresql DB in backend supported, user audit history
    supported, expiring in 10 minutes. Able to set port
    (Run with profile JWT)
</p>
<br>
<br>
<a href="/oauth2_login">Login with GitHub OAuth2</a>
<p>Description: with Postgresql DB and user audit history supported. Only authentication but no authorization. So can
    not set
    port
    (Run with profile OAuth2Github)
</p>
<br>
<a href="/CORSDemo/CORSIndex.html">CORS Demo</a>
<p>Description: only in profile JSessionH2, CORS is enabled to demo.
</p>
<br>
<br>
<br>
<br>
<a href="/logout">Logout current session</a>
</p>
</body>
</html>