<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<h1>Port Configurer</h1>
<body>
<p>
    <img src="/images/logo.jpg" alt="Spring Boot and Security">
    <!--    <a href="#"><images itemprop="image" style="height: 90px;" src="download.jpeg" alt="picture">  </a>-->
    <br>
    <a href="/login">Log in </a> with JSession ID, no DB in backend supported. (Run
    with profile NoDB)
    <br>
    <br>
    <a href="/jwtLogin">Log in </a> with JSON Web Token, with Postgresql DB in backend supported, expiring in 10 minutes
    (Run with profile JWT)
    <br>
    <br>
    <a href="/oauth2_login">Login with GitHub OAuth2</a>, with in memory db and Postgresql DB.
    (Run with profile OAuth2Github)
    <br>
    also as a demo of Spring Boot, Sping JPA, Spring Security
    <br>
    <br>
    <br>
    <br>
    <a href="/logout">Logout current session</a>
</p>
</body>
</html>