<!DOCTYPE html>
<html lang=en xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>VPN port configurer with Spring Security</title>
</head>
<body>
<h1>Sign in and save JSessionID, No Database</h1>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form method="post" th:action="@{/jsession_login}">
    <div><label> User Name : <input name="username" type="text"/> </label></div>
    <div><label> Password: <input name="password" type="password"/> </label></div>
    <div><input type="submit" value="Sign In with JSession"/></div>
</form>
</body>
</html>