<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VPN port configurer with Spring Security</title>
</head>
<body>
<h1>Sign in and save JWT response, with Database</h1>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form method="post" th:action="@{/jwtAuthenticate}">
    <div><label> User Name : <input name="username" type="text"/> </label></div>
    <div><label> Password: <input name="password" type="password"/> </label></div>
    <div><input type="submit" value="Sign In with JWT "/></div>
</form>

</body>
</html>