<!doctype html>
<html lang=en xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>VPN port configurer with Spring Security</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
</head>
<body>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<h1>Sign in via Github OAuth2</h1>
With GitHub: <a href="/oauth2/authorization/github">click here</a>
</body>
</html>